[Unit]
Description=Sabnzbd
After=network.target

[Service]
User=sabnzbd
Group=sabnzbd
ExecStart=/usr/bin/sabnzbd --config-file /etc/sabnzbd/sabnzbd.ini --logging 1 --daemon --pid /var/run/sabnzbd
PIDFile=/var/run/sabnzbd/sabnzbd-8001.pid
Type=forking

[Install]
WantedBy=multi-user.target