[Unit]
Description=Internet PVR for your TV Shows

[Service]
ExecStart=/usr/bin/python2 /usr/share/sickbeard/SickBeard.py --daemon --pidfile /var/run/sickbeard/sickbeard.pid --datadir /var/sickbeard --nolaunch --config /etc/sickbeard/sickbeard.ini --port 8002
PIDFile=/var/run/sickbeard/sickbeard.pid
Type=simple
User=sickbeard
Group=sickbeard

[Install]
WantedBy=multi-user.target