[Unit]
Description=Tiny Tiny RSS feeds update daemon
After=network.target
After=postgresql-9.3.service

[Service]
ExecStart=/usr/bin/php /var/www/localhost/htdocs/tt-rss/update.php --daemon
User=ttrssd
Group=ttrssd
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
